
  /* MyHL Font Icons
  ================================================== */

[data-icon]:before {
    content: attr(data-icon);
    @extend [class^="icon-"]:before;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "myherbalife";
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    speak: none;
    line-height: 1;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-contacts-ln-3:before {
  content: "\e03c";
}

.icon-cart-ln-4:before {
  content: "\e066";
}

.icon-alert-ln-1:before {
  content: "\e111";
}

.icon-arrow-circle-fl-4:before {
  content: "\e511";
}
.icon-arrow-circle-fl-9:before {
  content: "\e516";
}

.icon-arrow-left-ln-2:before {
  content: "\e54b";
}

.icon-arrow-right-ln-2:before {
  content: "\e54c";
}

.icon-award-ln-1:before {
  content: "T";
}

.icon-signal-full-ln-1:before {
  content: "\e00f";
}

.icon-beauty-products-fl-1:before {
  content: "\e558";
}

.icon-bubble-conversation-ln-5:before {
  content: "]";
}

.icon-calendar-ln-1:before {
  content: "\e107";
}

.icon-card-ln-1:before {
  content: "\e239";
}

.icon-cart-ln-6:before {
  content: "\e5ba";
}

.icon-book-ln-7:before {
  content: "\e178";
}

.icon-chat-ln-2:before {
  content: "\e0f5";
}

.icon-pie-chart-ln-1:before {
  content: "\e131";
}

.icon-arrow-down-1:before {
  content: "\e551";
}

.icon-arrow-up-1:before {
  content: "\e552";
}

.icon-clipboard-ln-3:before {
  content: "\e0ab";
}

.icon-setting-gear-ln-1:before {
  content: "\e0fe";
}

.icon-file-text-ln-1:before {
  content: "\e548";
}

.icon-file-sync-ln-1:before {
  content: "\e0d1";
}

.icon-file-ln-1:before {
  content: "\e0b4";
}

.icon-bank-notes-ln-1:before {
  content: "\e11d";
}

.icon-arrow-circle-ln-29:before {
  content: "\e296";
}

.icon-hierarchy-ln-5:before {
  content: "\e18d";
}

.icon-mail-ln-2:before {
  content: "\e021";
}

.icon-preview-fl-1:before {
  content: "\e2b4";
}

.icon-globe-ln-1:before {
  content: "\e13f";
}

.icon-globe-ln-2:before {
  content: "\e14f";
}

.icon-house-ln-2:before {
  content: "\e14e";
}

.icon-logo-hl-stacked-fl-1:before {
  content: "\e534";
}

.icon-list-fl-1:before {
  content: "\e466";
}

.icon-lock-ln-1:before {
  content: "o";
}

.icon-microphone-ln-2:before {
  content: "\e084";
}

.icon-minus-ln-3:before {
  content: "\e0e9";
}

.icon-loading-ln-1:before {
  content: "\e0e3";
}

.icon-file-time-ln-1:before {
  content: "\e0d4";
}

.icon-contacts-ln-1:before {
  content: "\e03b";
}

.icon-add-ln-3:before {
  content: "\e0dd";
}

.icon-receipt-ln-3:before {
  content: "\e06b";
}

.icon-printer-ln-1:before {
  content: "\e16d";
}

.icon-power-ln-3:before {
  content: "\e0eb";
}

.icon-shopping-ln-1:before {
  content: "\e06d";
}

.icon-hierarchy-ln-7:before {
  content: "\e18f";
}

.icon-sku-ln-1:before {
  content: "\e549";
}

.icon-clipboard-ln-1:before {
  content: "\e0aa";
}

.icon-target-ln-1:before {
  content: "\e19f";
}

.icon-ticket-ln-1:before {
  content: "\e235";
}

.icon-academic-cap-ln-1:before {
  content: "\e1a6";
}

.icon-academic-cap-ln-2:before {
  content: "\e5af";
}

.icon-traffic-light-ln-1:before {
  content: "\e1a1";
}

.icon-trophy-ln-1:before {
  content: ".";
}

.icon-shirt-ln-1:before {
  content: "\e1aa";
}

.icon-user-ln-2:before {
  content: "\e046";
}

.icon-delete-ln-4:before {
  content: "\e0df";
}

.icon-delete-ln-5:before {
  content: "\e0e0";
}

.icon-id-ln-3:before {
  content: "\e03f";
}

.icon-suitcase-ln-1:before{
    content: "\e237";
}

.icon-question-mark-ln-1:before {
  content: "\e117";
}

.icon-direction-sign-ln-1:before{
    content: "\e150";
}

.icon-apple-fl-1-1:before {
  content: "\e58b";
}

.icon-drawer-ln-2:before{
    content: "\e180";
}

.icon-award-ln-2:before {
    content: "U";
}

.icon-book-ln-1:before {
    content: "\e172";
}

.icon-antenna-ln-2:before {
    content: "\e017";
}

.icon-chat-ln-6:before {
    content: "\e000";
}

.icon-clock-ln-3:before {
    content: "\e10a";
}

.icon-imac-ln-1:before {
  content: "\e162";
}

.icon-connection-ln-2:before {
  content: "\e039";
}

.icon-return-ln-1:before {
    content: "\e0ec";
}

.icon-inbox-ln-4:before {
  content: "\e0a5";
}

.icon-book-ln-4:before {
    content: "\e175";
}

.icon-key-ln-1:before {
    content: "k";
}

.icon-beaker-ln-2:before {
    content: "\e223";
}

.icon-network-ln-1:before {
    content: "\e190";
}

.icon-outbox-ln-1:before {
    content: "\e035";
}

.icon-envelope-ln-1:before  {
    content: "\e54a";
}

.icon-people-fl-1:before {
  content: "\e59d";
}

.icon-setting-wrenches-ln-1:before {
    content: "\e0ff";
}

.icon-stationery-ln-1:before {
    content: "R";
}

.icon-link-ln-2:before {
    content: "\e018";
}

.icon-star-ln-2:before {
    content: "'";
}

.icon-ticket-ln-3:before {
  content: "\e233";
}

.icon-necktie-ln-1:before {
    content: "\e1a9";
}

.icon-upload-ln-1:before {
    content: "\e0a7";
}

.icon-contacts-ln-2:before {
    content: "\e03d";
}

.icon-video-camera-ln-2:before {
  content: "\e08a";
}

.icon-arrow-circle-fl-29:before { 
  content: "\e51c";
}

.icon-arrow-circle-fl-30:before {
  content: "\e51d";
}

.icon-delete-fl-5:before {
  content: "\e3da";
}