<div class="loyalty-renew">
    <section>
        <div>
            <i class="icon-alert-fl-2 warning"></i>
            <h4>@Localize["Message.Title"]</h4>
            <h2>@TempData["DistributorName"]</h2>
            <p>@Localize["Message.Body"]</p>
            <p>@Localize["Message.Body2"] <a href="mailto:goherbalifesupport@herbalife.com">goherbalifesupport@herbalife.com</a></p>
        </div>
    </section>
</div>