<div class="loyalty-renew">
    <section>
        <div>
            <i class="icon-alert-fl-1 error"></i>
            <h2>@Localize["Message.Title"]</h2>
            <p>@Localize["Message.Body"]</p>
            <a href="@TempData["ReloadUrl"]" class="btn-loyalty">@Localize["TryAgain.Link"]</a>
        </div>
    </section>
</div>