@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("index", "Logon", "POST"))
        {
            <span>Username</span>
            @Html.TextBox("id")
            <span>Password</span>
            @Html.Password("password")
            <input type="submit" value="Submit" />
        }
    </div>
</body>
</html>