	
	/* MyHL Side Nav
    ================================================== */

	@mixin myhl-category-list {
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            @include white-block;
            @include container(4);
            @include breakpoint($tablet) { @include container(6); }
            @include breakpoint($desktop) { @include gallery(4 of 8); }
            @include breakpoint($ext-desktop) { @include gallery(4 of 12); }
            h4 { color: $blue; }
            p { 
                color: $lightcharcoal; 
                margin-bottom: 0;
            }
        }
    }











