.icon-shopping-bag-ln-3:before {
    content: "\e070";
}
.icon-connection-ln-3:before {
    content: "\e03a";
}
.icon-arrow-circle-ln-27:before {
  content: "\e294";
}
.icon-star-fl-9:before {
  content: "\e2e6";
}
.icon-check-single-fl-1:before {
  content: "\e5b4";
}
.icon-chat-fl-1:before {
  content: "\e3ec";
}