.icon-shopping-bag-ln-3:before {
    content: "\e070";
}
.icon-connection-ln-3:before {
    content: "\e03a";
}
.icon-arrow-circle-ln-27:before {
  content: "\e294";
}
.icon-star-fl-9:before {
  content: "\e2e6";
}
.icon-check-single-fl-1:before {
  content: "\e5b4";
}
.icon-chat-fl-1:before {
  content: "\e3ec";
}
.icon-arrow-circle-ln-30:before {
  content: "\e297";
}
.icon-triangle-down-fl-1:before {
  content: "\e591";
}
.icon-triangle-up-fl-1:before {
  content: "\e594";
}
.icon-crown-ln-3:before {
  content: "1";
}
.icon-alert-fl-1:before {
    content: "\e406";
}
.icon-alert-fl-2:before {
    content: "\e407";
}
.icon-chat-fl-2:before {
    content: "\e3ed";
}
.icon-information-ln-1:before{
    content: "\e114";
}