
<script type="text/x-kendo-template" id="dashboard">
    <main id="dashboard">
        <section>
            <h3>Loyalty Program</h3>
            <p>Please select from the rewards below. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
            <aside class="shopping resume">
                <div>
                    <span>
                        100
                    </span>
                    <span>
                        points needed this month
                    </span>
                </div>
                <div>
                    <h4>Consecutive months achieved</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li><i class="icon-star-fl-9"></i><i class="icon-star-fl-9"></i><i class="icon-star-fl-9"></i></li>
                    </ul>
                </div>
            </aside>
            <aside class="activity resume">
                <div>
                    <i class="icon-chat-fl-1"></i>
                    <span>
                        Monthly goal reached
                    </span>
                </div>
                <div>
                    <h4>Activity levels achieved</h4>
                    <p>Select a preferred reward at each activity tier.</p>
                    <ul>
                        <li class="completed"><i class="icon-star-fl-9"></i></li>
                        <li class="completed"><i class="icon-star-fl-9"></i><i class="icon-star-fl-9"></i></li>
                        <li><i class="icon-star-fl-9"></i><i class="icon-star-fl-9"></i><i class="icon-star-fl-9"></i></li>
                        <li><i class="icon-star-fl-9"></i><i class="icon-star-fl-9"></i><i class="icon-star-fl-9"></i><i class="icon-star-fl-9"></i></li>
                    </ul>
                </div>
            </aside>
            <aside class="program">

                <!-- Tier 1 -->
                <div class="one redeemed closed" data-bind="click: showData">
                    <h5>Reward Redeemed</h5>
                    <ul>
                        <li class="disabled">
                            <img src="http://design.hrbl.net/DesignPrototypes/gohl-customer/Dev/Trunk/images/rewards/shaker-cup.jpg"><br>
                            <span>Shaker Cup</span><br>
                            <a class="btn-select">Pre-select Item</a>
                        </li>
                        <li class="selected">
                            <img src="http://design.hrbl.net/DesignPrototypes/gohl-customer/Dev/Trunk/images/rewards/enviro-bag.jpg"><br>
                            <span>Enviro Bag</span><br>
                            <a class="btn-select">Pre-select Item</a>
                        </li>
                        <li class="disabled">
                            <img src="http://design.hrbl.net/DesignPrototypes/gohl-customer/Dev/Trunk/images/rewards/juice-cup.jpg"><br>
                            <span>Juice Cup</span><br>
                            <a class="btn-select">Pre-select Item</a>
                        </li>
                    </ul>
                </div>

                <!--Tier 2 -->
                <div class="two redeemed closed" data-bind="click: showData">
                    <h5>Reward Redeemed</h5>
                    <ul>
                        <li class="disabled">
                            <img src="http://design.hrbl.net/DesignPrototypes/gohl-customer/Dev/Trunk/images/rewards/shaker-cup.jpg"><br>
                            <span>Shaker Cup</span><br>
                            <a class="btn-select">Pre-select Item</a>
                        </li>
                        <li class="disabled">
                            <img src="http://design.hrbl.net/DesignPrototypes/gohl-customer/Dev/Trunk/images/rewards/enviro-bag.jpg"><br>
                            <span>Enviro Bag</span><br>
                            <a class="btn-select">Pre-select Item</a>
                        </li>
                        <li class="selected">
                            <img src="http://design.hrbl.net/DesignPrototypes/gohl-customer/Dev/Trunk/images/rewards/juice-cup.jpg"><br>
                            <span>Juice Cup</span><br>
                            <a class="btn-select">Pre-select Item</a>
                        </li>
                    </ul>
                </div>

                <!--Tier 3 -->
                <div class="three">
                    <h5>100 volume points achieved for 4 consecutive months</h5>
                    <ul data-bind="click: onSelect">
                        <li>
                            <img src="http://design.hrbl.net/DesignPrototypes/gohl-customer/Dev/Trunk/images/rewards/shaker-cup.jpg"><br>
                            <span>Shaker Cup</span><br>
                            <a class="btn-select">Pre-select Item</a>
                        </li>
                        <li>
                            <img src="http://design.hrbl.net/DesignPrototypes/gohl-customer/Dev/Trunk/images/rewards/enviro-bag.jpg"><br>
                            <span>Enviro Bag</span><br>
                            <a class="btn-select">Pre-select Item</a>
                        </li>
                        <li>
                            <img src="http://design.hrbl.net/DesignPrototypes/gohl-customer/Dev/Trunk/images/rewards/juice-cup.jpg"><br>
                            <span>Juice Cup</span><br>
                            <a class="btn-select">Pre-select Item</a>
                        </li>
                    </ul>
                </div>
            </aside>

            <aside class="program">

                <!-- Tier 1 -->
                <div class="one redeemed closed" data-bind="click: showData">
                    <h5>Reward Redeemed</h5>
                    <ul>
                        <li class="disabled">
                            <img src="http://design.hrbl.net/DesignPrototypes/gohl-customer/Dev/Trunk/images/rewards/shaker-cup.jpg"><br>
                            <span>Shaker Cup</span><br>
                            <a class="btn-select">Pre-select Item</a>
                        </li>
                        <li class="selected">
                            <img src="http://design.hrbl.net/DesignPrototypes/gohl-customer/Dev/Trunk/images/rewards/enviro-bag.jpg"><br>
                            <span>Enviro Bag</span><br>
                            <a class="btn-select">Pre-select Item</a>
                        </li>
                    </ul>
                </div>

                <!-- Tier 2 -->
                <div class="two redeemed closed" data-bind="click: showData">
                    <h5>Reward Redeemed</h5>
                    <ul>
                        <li class="selected">
                            <img src="http://design.hrbl.net/DesignPrototypes/gohl-customer/Dev/Trunk/images/rewards/shaker-cup.jpg"><br>
                            <span>Shaker Cup</span><br>
                            <a class="btn-select">Pre-select Item</a>
                        </li>
                        <li>
                            <img src="http://design.hrbl.net/DesignPrototypes/gohl-customer/Dev/Trunk/images/rewards/enviro-bag.jpg"><br>
                            <span>Enviro Bag</span><br>
                            <a class="btn-select">Pre-select Item</a>
                        </li>
                        <li>
                            <img src="http://design.hrbl.net/DesignPrototypes/gohl-customer/Dev/Trunk/images/rewards/juice-cup.jpg"><br>
                            <span>Juice Cup</span><br>
                            <a class="btn-select">Pre-select Item</a>
                        </li>
                        <li>
                            <img src="http://design.hrbl.net/DesignPrototypes/gohl-customer/Dev/Trunk/images/rewards/shaker-cup.jpg"><br>
                            <span>Shaker Cup</span><br>
                            <a class="btn-select">Pre-select Item</a>
                        </li>
                    </ul>
                </div>

                <!-- Tier 3 -->
                <div class="three">
                    <h5>75 activity points</h5>
                    <ul data-bind="click: onSelect">
                        <li>
                            <img src="http://design.hrbl.net/DesignPrototypes/gohl-customer/Dev/Trunk/images/rewards/shaker-cup.jpg"><br>
                            <span>Shaker Cup</span><br>
                            <a class="btn-select">Pre-select Item</a>
                        </li>
                        <li>
                            <img src="http://design.hrbl.net/DesignPrototypes/gohl-customer/Dev/Trunk/images/rewards/enviro-bag.jpg"><br>
                            <span>Enviro Bag</span><br>
                            <a class="btn-select">Pre-select Item</a>
                        </li>
                        <li>
                            <img src="http://design.hrbl.net/DesignPrototypes/gohl-customer/Dev/Trunk/images/rewards/juice-cup.jpg"><br>
                            <span>Juice Cup</span><br>
                            <a class="btn-select">Pre-select Item</a>
                        </li>
                    </ul>
                </div>

                <!-- Tier 4 -->
                <div class="four">
                    <h5>100 activity points</h5>
                    <ul data-bind="click: onSelect">
                        <li>
                            <img src="http://design.hrbl.net/DesignPrototypes/gohl-customer/Dev/Trunk/images/rewards/shaker-cup.jpg"><br>
                            <span>Shaker Cup</span><br>
                            <a class="btn-select">Pre-select Item</a>
                        </li>
                    </ul>
                </div>

            </aside>

        </section>
    </main>
</script>