// =============
// Logout / Splash Page
// -----
// This File contains all styles for the Splash / Login Page
//
//==============


$slick-prev-character: "" !default;
$slick-next-character: "" !default;
$slick-opacity-not-active: 0.25 !default;
$slick-font-family: $proxima !default;
$slick-arrow-color: $charcoalgrey !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-dot-character: "•" !default;
$slick-dot-size: 6px !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;


body {
    background: $lightgrey;
    position: relative; /* Required for static Slidebars to function properly. */

    .custHome {
        /* Loyalty Enrollment Page
	================================================== */
        > section {
            padding: 30px 0px;
            img{
                width: 80px;
                margin-right: 20px;
            }

            p {
                @include breakpoint($desktop) {
                    font-size: 18px;
                    line-height: 22px;
                }
            }
        }

        .enroll {

            @include m4-t8-d12-e14;

            > article {


                @include breakpoint($desktop) {
                    @include span(8);
                }

                @include breakpoint($ext-desktop) {
                    @include span(10);
                }
            }

            > aside {
                text-align: center;

                @include breakpoint($desktop) {
                    @include span(4 last);
                    text-align: right;
                }

                a.btn-enroll {
                }
            }
        }

        .rewards {
            background-color: $white;

            > div {
                @include m4-t8-d12-e14;
            }

            .product-carousel {

                > div {
                    text-align: center;

                    img {
                        display: block;
                        margin: 0 auto 5px;
                        width: 140px;
                        height: 140px;
                    }

                    span {
                        font-size: 14px;
                        display: inline-block;
                        width: auto;
                        position: relative;
                        padding-left: 50px;
                        text-align: left;
                        line-height: 18px;

                        &:before {
                            position: absolute;
                            left: 0;
                            top: 50%;
                            margin-top: -19px;
                            padding: 10px;
                            vertical-align: middle;
                            font-family: $myherbalife;
                            color: $white;
                            font-size: 18px;
                            @include border-radius(50%);
                        }

                        &.Product {
                            &:before {
                                background-color: $cat-darkblue;
                                content: "\e070";
                            }
                        }

                        &.Activity {
                            &:before {
                                background-color: $cat-pink;
                                content: "\e03a";
                            }
                        }
                    }
                }
            }
        }

        .rewards-info {

            > div {
                @include m4-t8-d12-e14;
                text-align: center;
            }

            article {
                width: 100%;
                position: relative;
                text-align: left;
                border: 1px solid $softgrey;
                @include white-block;
                padding: 30px $gutter;
                @include clearfix;

                @include breakpoint($tablet) {
                    padding: 30px;
                }

                @include breakpoint($desktop) {
                    padding: 30px $gutter;
                }

                > aside {
                    width: 100%;
                    margin-bottom: $gutter;

                    @include breakpoint($tablet) {
                        @include span(2);
                    }

                    @include breakpoint($desktop) {
                        @include span(3);
                    }

                    > i {
                        display: block;
                        height: 140px;
                        padding-top: 30px;
                        margin: 0 auto;
                        text-align: center;
                        font-size: 80px;
                        color: $white;
                        @include border-radius(50%);
                        @include container(2);
                    }
                }

                &.shopping {
                    > aside > i {
                        background-color: $cat-darkblue;
                    }
                }

                &.activity {
                    > aside > i {
                        background-color: $cat-pink;
                    }
                }

                > div {
                    width: 100%;

                    table{
                            display: block;
                            overflow: scroll;
                            thead  {
                                max-width: 100px;
                            }
                            @include breakpoint($tablet) {
                                overflow: hidden;
                            }
                    }

                    @include breakpoint($tablet) {
                        @include span(5 last);
                    }

                    @include breakpoint($desktop) {
                        @include span(8);
                    }

                    @include breakpoint($ext-desktop) {
                        @include span(8);
                    }
                    

                    p {
                        max-width: 400px;

                        @include breakpoint($desktop) {
                            max-width: 620px;
                        }
                    }

                    div{
                        margin-top:10px;

                        > a{
                        margin-top: 20px;
                        display: block;
                        text-align: center;

                        @include breakpoint($tablet) {
                        text-align: left;
                        }
                    }
                    }
                     
                    
                }

            }

            a.btn-enroll {
            }
        }

        .accept-terms {
            > div {
                @include m4-t8-d12-e14;
            }

            .terms-conditions {
                @include white-block();

                .terms {
                    width: 100%;
                    max-height: 200px;
                    overflow-y: scroll;
                    padding: $gutter;
                    background-color: $offwhite;
                    border: 1px solid $softgrey;

                    @include breakpoint($tablet) {
                        max-height: 250px;
                    }

                    p {
                        font-size: 14px;
                    }
                }

                .acknowledge {
                    margin-top: $gutter;
                    width: 100%;

                    @include breakpoint($desktop) {
                        @include span(6 last);
                    }

                    form {
                        @include form-1;

                        @include breakpoint($tablet) {
                            @include form-2;
                        }
                    }

                    input[type="checkbox"] {
                        @include checkbox(22px, 32px, -16px);
                    }
                }
            }
        }


        .button-set {
            @include m4-t8-d12-e14;
            margin-bottom: 25px;

            a.btn-enroll {
            }
        }
    }
    // Extras
    .btn-continue {
        background-color: #0080ff;
        color: #fff;
        padding: 20px 40px 18px;
        font-size: 24px;
        line-height: 20px;
        text-transform: uppercase;
        &:hover {
            color: #fff;
            background-color: #0073e6;
        }
   
    }

   

   .slick-prev,
    .slick-next {
        position: absolute;
        display: block;
        height: 30px;
        width: 30px;
        line-height: 0px;
        cursor: pointer;
        margin-top: -50px;
        top: 50%;
        //border-radius: 50%;
        //border: 1px solid $grey;
        background-color: transparent;
        outline: none;
        &:hover { background-color: transparent; }

        @include breakpoint($tablet) {
            height: 50px;
            width: 50px;
            margin-top: -40px;
            font-size: 24px;
        }
        &.slick-disabled:before {
            opacity: $slick-opacity-not-active;
        }
    }

    .slick-prev:before, .slick-next:before {
        font-family: $myherbalife;
        font-size: 24px;
        line-height: 1;
        color: $charcoalgrey;
        opacity: $slick-opacity-default;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .slick-prev {
        left: 0;
        padding: 4px 0 0;

        @include breakpoint($tablet) { padding: 4px 1px 0 0; }

        [dir="rtl"] & {
            left: auto;
            right: -25px;
        }
        &:before {
            content: "\e294";
            [dir="rtl"] & {
                content: "\e294";
            }
        }
    }

    .slick-next {
        right: 0;
        padding: 3px 0 0 4px;

        @include breakpoint($tablet) { padding: 5px 0 0 7px; }

        [dir="rtl"] & {
            left: -25px;
            right: auto;
        }
        &:before {
            content: "\e295";
            [dir="rtl"] & {
                content: "\e295";
            }
        }
    }
}