<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>

  <packageSources>

    <add key="nuget.org v2" value="https://www.nuget.org/api/v2/" />

    <add key="Herbalife NuGets" value="http://nuget.hrbl.net:8088/api/odata" />

    <add key="Herbalife Dev NuGets" value="http://nuget.hrbl.net:9099/api/odata" />

  </packageSources>

  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>

</configuration>
